/* General Styles */
h2, h3 {
    color: #2c3e50;
}

.profile-container {
    display: flex;
    margin: 20px;
    padding: 20px;
}

.profile-card {
    text-align: center;
    background: rgb(160, 149, 149);
    padding: 30px;
    border-radius: 0px;
    margin-bottom: 0px;
    margin-right: 20px;
    max-height: 400px;
}

.profile-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.info-list {
    list-style: none;
    padding: 0;
}

.info-list li {
    margin: 10px 0;
    font-size: 14px;
    text-align: left;
}

.contact-form {
    background: white;
    padding: 20px;
    margin-left: 20px;
    border-radius: 8px;
    max-height: 300px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(189, 195, 199);
    border-radius: 4px;
    font-size: 14px;
}


.contact-form button {
    background: #c42d2d;
    color: white;
    border: #c42d2d solid 2px;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button:hover {
    background-color: transparent;
    color: #c42d2d;
}

.skills, .bio, .experience, .volunteering, .un-goals {
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.experience ul, .un-goals ul{
    margin-left: 20px;
}

h3 {
    margin-bottom: 15px;
}

.skill-bar {
    margin-bottom: 10px;
}

.skill-bar span {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.progress {
    background: #c42d2d;
    height: 10px;
    border-radius: 5px;
}

.bio p, .experience p {
    font-size: 14px;
    line-height: 1.6;
}

.volunteering img, .un-goals img {
    max-width: 100%;
    border-radius: 8px;
}