*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    margin: 5px;
    position:sticky;
    top: 0px;
    z-index: 1000;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

.logo a{
    text-decoration: none;
    color:#c42d2d;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li{
    display: inline;
    padding-right: 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav a.active{
    color: #c42d2d;
    font-weight: bold;
}

nav ul a:hover{
    color: #c42d2d;
}

.logo{
    color: #c42d2d;
}

/* Body */
body{
    background-color: rgb(245, 245, 245);
}

/* Footer */
footer{
    background-color: #333;
    padding-bottom:5px;
    padding-top: 25px;
    color: white;
    width: 100%;
    text-align: left;
}

.footer-container{
    display: flex;
    justify-content: space-evenly;
}


.footer-container div{
    width:20%;
    margin-top: 10px;
}

.footer-container .head{
    font-size: 18px;
    font-weight: bold;
}

footer ul{
    list-style-type: none;
    margin:0px ;
    padding:0px ;
}

footer a{
    color: white;
}

footer a:hover{
    font-weight: bold;
}

footer p{
    margin-top: 5px;
}

footer li{
    padding: 5px;
}

@media (max-width: 768px) {
    .navbar nav ul {
        flex-direction: column;
    }
}
