main{
    margin: 20px;
}
.team-container{
    font-family: Arial, sans-serif;
    text-align: center;
}


.title p{
    text-align:center;   
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
    padding: 20px;
    margin-bottom: 50px;
}
.member {
    padding: 15px;
    width: 300px;
}

.member img {
    width: 100%;
    border-radius: 8px;
}

.member h3{
    margin-bottom: 10px;
}

.member p{
    padding: 5px;
    margin-bottom: 5px;
}

.member .detail-button{
    text-decoration: none;
    color: white;
    background-color: #c42d2d;
    padding:5px 10px;
    border: #c42d2d solid 2px;
    border-radius: 7px;
}

.member .detail-button:hover{
    color: #c42d2d;
    background-color: transparent;
}

.details {
    display: none;
    padding-top: 10px;
}

.details ul{
    list-style: none;
}

.details ul a{
    text-decoration: none;
    color: black;
}

.details ul a:hover{
    color: #c42d2d;
}

.member:hover{
    transition: transform 0.3s;
    transform: scale(1.05);
}

.member:target .details {
    display: block;
}

.join-section {
    padding: 40px;
    margin-left: 50px;
}
.join-section h1 {
    font-size: 36px;
    font-weight: bold;
}
.join-section p {
    font-size: 18px;
    color: #555;
}
/* .join-section button{
    padding:5px 10px;
    margin-top: 5px;
    color: white;
    background-color: #c42d2d;
    border-radius: 7px;
    border: #c42d2d solid 2px;
}
.join-section button:hover{
    color: #c42d2d;
    background-color: transparent;
} */